body {
    background-color: #C3C2C0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    width: 45%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.box{
    background-color: #F5F5F5;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-bottom: 25px;
}

.items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.plate{
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plate img{
    width: 150px;
    height: 250px;
}

.plate .plate_name{
    font-weight: 700;
    font-size: 12px;
}

.plate .preco{
    font-size: 18px;
    font-weight: 700;
    color: green;
}

input{
    padding: 8px;
    margin: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

button{
    background-color: #007AFF;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    width: 100%;
}

button:hover{
    background-color: #0066d2;
    cursor: pointer;
}

.output{
    align-self: normal;
}

h2{
    font-weight: 100;
}

h4{
    margin: 0;
}

h5{
    margin: 8px;
}

@media screen and (max-width: 1315px) {
    .container{
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .container{
        width: 80%;
    }

    .items{
        flex-direction: column;
        align-items: center;
    }

    .plate{
        width: 150px;
        margin-top: 15px;
    }

}